@model EvidencijaVremena.Models.EvidencijeModel

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Predmet &nbsp;</label>
                        @Html.DropDownListFor(m => m.OdabraniPredmetID, Model.SelectListPredmeta,
                        new { id = "predmeti", @class = "form-control", style = "width:auto; display:inline-block;" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <div id="tipoviAktivnosti" class="btn-group" role="group"></div>
                <div class="modal fade" id="aktModal" tabindex="-1" role="dialog" aria-labelledby="Aktivnost"></div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div id="kalendar"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">
    $("#predmeti").change(function () {
        var prd = $("#predmeti").children(":selected")[0].value;
        $.post('@Url.Action("OsvjeziAktivnosti", "Evidencija")', { predmetId: prd }, OsvjeziAktivnosti, "json");
    });

    function OsvjeziAktivnosti(data) {
        // izbrisi sve postojece buttone
        $("#tipoviAktivnosti").html("");

        // dodaj drop down za tipove aktivnosti
        var i = 0;
        var len = data.tipoviAktivnostiID.length;
        while (i < len) {
            var $input = $('<div id="' + data.tipoviAktivnostiID[i] + "tipAktivnosti" + '" class="btn-group"><button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' + data.tipoviAktivnostiNaziv[i] + '&nbsp;&nbsp;<span class="caret"></span></button></div>');
            $input.appendTo($("#tipoviAktivnosti"));
            $input = $('<ul id="' + data.tipoviAktivnostiID[i] + "buttongroup" + '" class="dropdown-menu"></ul>');
            $input.appendTo($("#" + data.tipoviAktivnostiID[i] + "tipAktivnosti"));

            // dodaj sve aktivnosti pod taj dropdown
            var j = 0;
            var len2 = data.aktivnostiArrayID[i].length;
            while (j < len2) {
                var $input2 = $('<li class="akt" data-toggle="modal" data-target="#aktModal" onclick="aktivnostOdabrana(this)" id="' + data.aktivnostiArrayID[i][j] + '" name="' + data.aktivnostiArrayNaziv[i][j] + '"><a href="#">' + data.aktivnostiArrayNaziv[i][j] + '</a></li>');
                $input2.appendTo($("#" + data.tipoviAktivnostiID[i] + "buttongroup"));
                j++;
            }

            i++;
        }

        $('#kalendar').fullCalendar('removeEvents');
        var len = data.termini.length;
        for (var i = 0; i < len; i++) {
            var event = {
                id: data.termini[i].ID,
                title: data.termini[i].Naziv,
                start: data.termini[i].Pocetak,
                end: data.termini[i].Kraj
            };
            $('#kalendar').fullCalendar('renderEvent', event, true);
        }   
    }

    $('#kalendar').fullCalendar({
        eventClick: function (calEvent, jsEvent, view) {
            var akt = {
                id: String(calEvent.id),
                name: String(calEvent.title),
                getAttribute: function (id) {
                    if (id == "id")
                        return this.id;
                    else if (id == "name")
                        return this.name;
                }
            };
            aktivnostOdabrana(akt);
        },
        defaultView: "agendaWeek",
        lang: "hr",
        aspectRatio: 2,
        header: {
            title: ""
        }
    });

    function aktivnostOdabrana(akt) {
        var id = akt.getAttribute("id");
        var name = akt.getAttribute("name");
        var $el = $("#aktModal");
        $el.empty();
        var data =
            `
            <div id="modal" class="modal-dialog" role="document">
                <div class ="modal-content">
                    <div class ="modal-header">
                        <button type="button" class ="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times; </span></button>
                        <h4 class ="modal-title" id="myModalLabel">` + name + `</h4>
                    </div>
                    <div class ="modal-body">
                        <form id="evidencija" class ="form-inline cmxform">
                            <fieldset>
                                <div class ="form-group">
                                    <label>Trajanje</label>
                                </div>
                                <div class ="form-group">
                                    <input id="trajanje" class ="form-control" required>
                                </div>
                                <div class ="form-group">
                                    <select id="mjernaJedinica" class ="form-control" style="width:10em">
                                        <option value="sati">Sati</option>
                                        <option value="minute">Minute</option>
                                    </select>
                                </div>
                                <div class ="form-group">
                                    <button type="button" class ="btn btn-success" onclick="SpremiEvidenciju()" data-dismiss="modal">Spremi</button>
                                </div>
                                <div class ="form-group">
                                    <input id="aktivnostID" type="hidden" value= "` + id + `" >
                                </div>
                            <fieldset>
                        </form>
                    </div>
                </div>
            </div>

            `
        $el.html(data);
        $('#aktModal').modal('show');
    };

    function SpremiEvidenciju() {
        var id = document.getElementById("aktivnostID").value
        var val = document.getElementById("trajanje").value
        var mj = $("#mjernaJedinica").children(":selected")[0].value;
        if (isNaN(val) || val <= 0) {
            return false;
        }
        $.post('@Url.Action("SpremiEvidenciju", "Evidencija")', { aktivnostID: id, trajanje: val, mjernaJedinica: mj }, EvidencijaSpremljena, "json");
    }

    function EvidencijaSpremljena(data) {}

    $(document).ready(function () {
        $("#predmeti").change();
    });

</script>
