@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Evidencija predmeta</h2>
        <p>
            Ovdje je combo box u kojem se odabire predmet (od liste svih trenutno pretplaćenih predmeta).
            Nakon odabira predmeta, osvježuje se popis aktivnosti (stvara se lista imena svih aktivnosti predmeta).
            Kraj svake aktivnost postoji tipka DODAJ zajedno sa kućicom u koju se unosi broj minuta (zasad samo minute).
            Za svaku aktivnost stvara se popis evidencija (stvara se lista potrošenih minuta za svaku evidenciju).
            Kraj svake evidencije postoji tipka DELETE, čime se ona briše.
        </p>
    </div>
</div>