@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Pregled evidencija</h2>
        <p>
            Ovdje se odabire predmet (od liste svih trenutno pretplaćenih predmeta).
            Nakon odabira predmeta, osvježuje se statistika utrošenog vremena.
            Također postoji mogućnost globalnog pregleda statistika svih korisnika za odabrani predmet.
        </p>
    </div>
</div>